{% extends 'base.html' %}
{% block page_content %}

            <form action="../common/index.html">
                <p>AddPhoto</p>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <button>EditPhoto</button>
            </form>
{% endblock %}